{% extends 'layout.twig' %}

{% block content %}
    <form action="{{ path_for('auth.signin') }}" method="post" autocomplete="off" class="max-w-md mx-auto">
        <div class="mb-4">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="email">Email</label>
            <input class="{{ errors.email ? ' border-red' : '' }} appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-1"
                   type="email"
                   name="email"
                   id="email"
                   placeholder="you@domain.com"
                   value="{{ old.email }}">
            {% if errors.email %}
                <span class="text-red-lighter text-sm">{{ errors.email | first }}</span>
            {% endif %}
        </div>
        <div class="mb-4">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="password">Password</label>
            <input class="{{ errors.password ? ' border-red' : '' }} appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-1"
                   type="password"
                   name="password"
                   placeholder="********"
                   id="password">
            {% if errors.password %}
                <span class="text-red-lighter text-sm">{{ errors.password | first }}</span>
            {% endif %}
        </div>
        <button class="shadow bg-indigo hover:bg-indigo-light text-white font-bold py-3 px-6 rounded" type="submit">Sign in</button>
        {{ csrf.field | raw }}
    </form>
{% endblock %}
