
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <p>
            Choose an option and delete the option that does not suit you.
        </p>

        <h2>Example form without vue.js</h2>
        <div class="form">
            <form action="store" method="POST" id="lead" data-abide>
                {{ csrf.field | raw }}
                <label>
                    Names <br>
                    <span>{{ errors.name | first }}</span>
                    <input type="text" name="name" value="{{ old.name }}">
                </label>

                <label>
                    Email <br>
                    <span>{{ errors.email | first }}</span>
                    <input type="text" name="email" {{ old.email }}>
                </label>
                <button class="button primary" type="submit">Enviar</button>
            </form>
        </div>

        <h2>Example form with Vuejs</h2>
        <app-form></app-form>
    </section>
{% endblock %}
