<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock %}</title>

        <!--STYLES-->
        <link rel="stylesheet" href="{{ base_url() }}/public/css/app.min.css">

        <!--META TAGS-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta name="description" content="META_DESCRIPTION">
        <meta name="author" content="META_AUTHOR">

        <!--META TAGS FACEBOOK-->
        <meta property="og:title" content="OG_TITLE">
        <meta property="og:description" content="OG_DESCRIPTION">
        <meta property="og:image" content="OG_IMAGE">
        <meta property="og:site_name" content="OG_SITE_NAME">
        <meta property="og:locale" content="OG_LOCATE">
    </head>
    <body class="bg-grey-lightest container">
        <header class="text-center bg-white">
            <h1 class="text-grey-darker mb-0 uppercase font-bold py-8">Slim Starter Kit</h1>
            {% if auth.check %}
                <ul class="list-reset flex bg-grey-lighter p-4">
                    <li><a class="text-blue pr-4" href="{{ path_for('home') }}">Home</a></li>
                    <li><a class="text-blue pr-4" href="{{ path_for('reports') }}">Reports</a></li>
                    <li><a class="text-blue pr-4" href="{{ path_for('auth.password.change') }}">Change Password</a></li>
                    <li class="ml-auto"><a class="text-grey-darker" href="{{ path_for('auth.signout') }}">Signout</a></li>
                </ul>
            {% endif %}
        </header><!-- ./END HEADER-->

        <div id="app" class="p-4">
            {% include 'partials/flash.twig' %}
            {% block content %}{% endblock %}
        </div><!-- ./END CONTAINER-->

        <footer class="py-4 text-center">
            <small>Made with <span class="text-red">&#9829;</span> by Edwin Ramírez</small>
        </footer><!-- ./END FOOTER-->

        <script src="{{ base_url() }}/public/js/app.min.js"></script>
    </body>
</html>
